name: Build Tun2Socks AAR

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        repository: 'Easymobo/tun2socks-android'
        ref: 'main'
    
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
    
    - name: Install NDK
      run: |
        echo "y" | sdkmanager --install "ndk;25.2.9519653"
        echo "ANDROID_NDK_HOME=$ANDROID_HOME/ndk/25.2.9519653" >> $GITHUB_ENV
    
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3
    
    - name: Prepare Gradle Wrapper
      run: |
        chmod +x ./gradlew
    
    - name: Build AAR
      run: |
        ./gradlew assembleRelease
      env:
        ANDROID_NDK_HOME: ${{ env.ANDROID_NDK_HOME }}
    
    - name: Sign AAR
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/aar
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
    
    - name: Upload AAR
      uses: actions/upload-artifact@v4
      with:
        name: tun2socks-aar
        path: app/build/outputs/aar/*.aar