name: Build tun2socks AAR (external clone)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-aar:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          # cache removed because we are NOT building this repo

      - name: Clone external tun2socks-android repo
        run: |
          git clone https://github.com/LondonX/tun2socks-android.git
          ls -R tun2socks-android

      - name: Make gradlew executable
        run: chmod +x tun2socks-android/gradlew

      - name: Build Release AAR
        working-directory: tun2socks-android
        run: ./gradlew tun2socks:assembleRelease

      - name: Upload AAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: tun2socks-aar
          path: tun2socks-android/tun2socks/build/outputs/aar/*.aar
